<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.brands.servlets.Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.brands.servlets.Profile</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>com.brands.servlets.logOut</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>com.brands.servlets.Contact</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
                <url-pattern>/Contact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.brands.servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProduct</servlet-name>
        <servlet-class>com.brands.servlets.ManageProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProduct</servlet-name>
        <url-pattern>/ManageProduct</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdminAddProduct</servlet-name>
        <servlet-class>com.brands.servlets.AdminAddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAddProduct</servlet-name>
        <url-pattern>/AdminAddProduct</url-pattern>
    </servlet-mapping>



    <servlet-mapping>
        <servlet-name>Phone</servlet-name>
        <url-pattern>/Phone</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Phone</servlet-name>
        <servlet-class>com.brands.servlets.Phone</servlet-class>
    </servlet>





    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.brands.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReqServlet</servlet-name>
        <servlet-class>com.brands.servlets.ReqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.brands.servlets.ImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReqServlet</servlet-name>
        <url-pattern>/ReqServlet</url-pattern>
    </servlet-mapping>




    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>com.brands.servlets.UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminEditProduct</servlet-name>
        <servlet-class>com.brands.servlets.AdminEditProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEditProduct</servlet-name>
        <url-pattern>/AdminEditProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletesProduct</servlet-name>
        <servlet-class>com.brands.servlets.DeletesProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.brands.servlets.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/ManageUsersServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeletesProduct</servlet-name>
        <url-pattern>/DeletesProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.brands.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MenProductServlet</servlet-name>
        <servlet-class>com.brands.servlets.MenProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenProductServlet</servlet-name>
        <url-pattern>/MenProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WomenProductServlet</servlet-name>
        <servlet-class>com.brands.servlets.WomenProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WomenProductServlet</servlet-name>
        <url-pattern>/WomenProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KidsProductServlet</servlet-name>
        <servlet-class>com.brands.servlets.KidsProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KidsProductServlet</servlet-name>
        <url-pattern>/KidsProductServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartHandlerServlet</servlet-name>
        <servlet-class>com.brands.servlets.CartHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartHandlerServlet</servlet-name>
        <url-pattern>/CartHandlerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartHandlerServlet2</servlet-name>
        <servlet-class>com.brands.servlets.CartHandlerServlet2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartHandlerServlet2</servlet-name>
        <url-pattern>/CartHandlerServlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartHandlerServlet3</servlet-name>
        <servlet-class>com.brands.servlets.CartHandlerServlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartHandlerServlet3</servlet-name>
        <url-pattern>/CartHandlerServlet3</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
